MUMBAI_PRIVATE_KEY=
POLYGON_PRIVATE_KEY=
LOCALHOST_PRIVATE_KEY=

INFURA_API_KEY=
COINMARKETCAP_KEY=<optional, if you want to have price estimates>
GASREPORT_FILE=<leave empty to output to terminal>
ETHERSCAN_API_KEY=

# 0xSplit
SPLIT_ADDRESS=0x2ed6c4B5dA6378c7897AC67Ba9e43102Feb694EE # same for mumbai and polygon

# VRF
VRF_COORDINATOR_ADDRESS=
VRF_SUBSCRIPTION_ID=
VRF_KEY_HASH=