@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Sans:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --serif: "PT Serif", serif;
  --sans-serif: "Pt Sans Caption", sans-serif;
  --monospace: monospace;
  --max-width: 50rem;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

body {
  color: rgb(35, 38, 78);
  box-sizing: inherit;
  margin: 0px;
  font-family: var(--serif);
  background-image: linear-gradient(
    to right bottom,
    #ffffff,
    #fcfafc,
    #f9f6f8,
    #f8f1f3,
    #f6ecec
  );
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#app {
  height: 100%;
}

section {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

p {
  line-height: 1.6em;
}

button,
.button {
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.171);
  display: block;
  margin: 3rem auto 0 auto;
  margin-top: 3rem;
  padding: 1rem;
  font-family: var(--sans-serif);
  font-size: 1.2rem;
  transition: all 400ms;
  cursor: pointer;
  background-color: rgb(203, 203, 231);
  color: rgb(36, 36, 36);
}

button.secondary,
.button.secondary {
  background-color: rgb(204, 204, 204);
  border: 1px solid rgba(0, 0, 0, 0.171);
}

button.small,
.button.small {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  display: inline;
  border: none;
}

button:hover,
.button:hover {
  background-color: rgb(179, 179, 218);
  border-color: rgba(0, 0, 0, 0.3);
}

button:disabled,
button:disabled:hover,
.button:disabled,
.button:disabled:hover {
  background-color: rgb(216, 216, 216);
  color: rgb(97, 97, 97);
  cursor: not-allowed;
}

h1 {
  font-family: var(--sans-serif);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
